.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(2,2,2,0.1)
}

